{% extends 'base.html' %}

{% block title %}Check In{% endblock title %}
{% block content %}
    <form action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}

        <h1>{% now "H:i" %}</h1>
        <p>
            Dias trabalhados: {{ request.user.employee.total_days }}<br />
            Horas trabalhadas: {{ request.user.employee.total_hours }}<br />
            Último checkout: {{ request.user.employee.last_checkout }}
        </p>

        <button type="submit">Check In</button>
    </form>
    <ul>
        <li><a href="">Histórico</a></li>
        <li><a href="">Total de Horas</a></li>
    </ul>
{% endblock content %}
